:root{
    --site-color:rgb(0, 99, 140);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}




.header {
  padding-top: 2px;
  background:var(--site-color);
  display:flex;  
  justify-content: space-between; 
  align-items: center;     
  height: 80px;
  box-shadow: 0px 3px 5px var(--site-color);
  position:fixed;
  width:100%;
  top:0px;
  opacity:.9;   
 
}

.header li {
    list-style: none;
}
.header a{
  text-decoration: none;
  color:rgb(255, 255, 255)
}

.header .brand-area {
  display:flex;
  align-items: center;    
}

.header #logo img{
    height: 70px;
    margin-right: 7px;
}

.header #brand-name{
    text-align: center;
}

.header .nav-bar {
    display:flex;
    align-items:center;    
    height: 100%;   
}

.nav-bar-menu {
  display: flex;
 
}


.header .nav-bar-menu li{
    display:inline-block;
    position: relative;     
    padding:20px 10px;

    

    }

.header .nav-bar-menu li a {
  width:100%; 
  padding: 20px 20px;  
   
   
    font-size: 1.2rem; 
     
}

.header .nav-bar-menu li ul.sub-menu  {
  display:none;

 }

 .header .nav-bar-menu li a:hover {
    background-color: grey;
    border:1px solid var(--site-color);
    border-radius: 5px;
    height: 100%;
    
}








/* -------------------------------SECTION: ABOVE FOLD----------------------------------------- */


.hero{
    height: 550px;   
    background-image: url(https://tibebesilase.github.io/kaseconsultingplc.github.io/siteAssets/images/kaseLogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);     
}

.hero h1{
  font-size: 72px; 
}


/* ------------------------------------SECTION: COMPANY PROFILE----------------------------- */


.company-profile {
   
    margin:23px 10%;
    border-radius: 5px;
    background:linear-gradient( rgb(200, 224, 232), var(--site-color));
    
}

.company-profile-head{   
    padding:25px;  
    border-bottom: 1px  solid; 
    color:var(--site-color);
    font-size: 38px;
    font-weight: 800;
    line-height: 53.2px;
    text-align: center;
    text-size-adjust: 100%;
     
  
}

.company-profile-content {
    display:flex;  
    justify-content:center;
}

.company-profile-content-item {
 
  border-radius: 5px;
  border-color: var(--site-color);
  margin:5px;    
}

.company-profile-content-item h2{
  text-align: center;
}

.company-profile-content-item img{
  display: block;
  margin-left: auto;
  margin-right: auto;  
} 



.company-profile-content-item p{
  color:black;
  font-size: 1.5rem;
}

.company-profile-content-item  {
  display:flex;
  flex-direction: column; 
  justify-content: space-between; 
  margin-bottom: 2rem;
}


/* -------------------------------------SECTION: SERVICES--------------------------------- */


.services{
  background: rgb(200, 224, 232);
  
}


.services-head{   
  margin-bottom: 10px;
  color:var(--site-color);
  font-size: 38px;
  font-weight: 800;
  line-height: 53.2px;
  text-align: center;
  text-size-adjust: 100%;
 }



.services-content{
    display:flex; 
    justify-content: space-between;   
    flex-wrap: wrap; 
    padding:10px;     
  }

 

  .services-content-group-item {
    width:49%;
    border:2px solid var(--site-color);
    border-radius: 5px;
    margin-bottom: 15px;    
    font-size: large;
    
  }

  .services-content-group-item h1 {
    background:linear-gradient( rgb(200, 224, 232), var(--site-color));
    color:rgb(6, 4, 38);
    text-align: center;
    padding:10px;
    
  }

  .services-content-group-item  h4{
    margin-left:5px;
    padding-bottom: 20px;
  }

  .services-content-group-item li{
    margin-left:15px;
    padding-left:15px;
    padding-bottom: 15px;
    list-style:square;   
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }




  /* -------------------------------------SECTION: CORE VALUES--------------------------------- */

  .core-values{
   
    color:rgb(1, 1, 1);
    padding-bottom: 15px;
    margin: 50px 10%;
  }

  .core-values-content {
    display: flex;    
  }

  .core-values-head {
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;

  }

  .core-values-content-item {
    padding:20px;
    border: 1px solid var(--site-color);
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    margin:5px;
  }

  .core-values-content-item h3{
    padding-bottom: 10px;
    text-align:left;
    font-size: large;
  }
  
  .core-values-content-item p{
   font-size: large;
  }

  .why-choose-kase {
    margin:50px 10%;
    background-color:rgb(243, 233, 221) ;
    display:flex;
    flex-direction: column;

  }

  .why-choose.kase-head,p {
    margin: 0 10%;
    font-size: large;
  }

  .team-profile, .founders, .affiliate-members{
    margin:50px 10%;
  }

  table{
    margin:0 10%;
    border:3px solid black;
  }

  table,tr,th,td{
    border:1px solid black;
    border-collapse: collapse;
  }

  table caption,th{
    
    background-color: var(--site-color);
    color:white
    

  }

  table tr:nth-child(even){
    background-color: rgb(207, 207, 207);
  }

#mobile-menu{
    display:none;    
}



footer{
  margin-top: 20px;  
  background-color:var(--site-color);
  color:white
}









@media (max-width:600px){

    .nav-bar-menu{
        display:none;
    }

    #mobile-menu{
        display:block;
        position:absolute;
        top:0%;
        right:5px;
    }

    .header {
        background-color:var(--site-color);
        display:flex;  
        justify-content: space-between; 
        align-items: center;
        padding-top: 2px;   
       
    }

    #logo img{
        height: 45px;
        margin-right: 3px;
    }

    .hero {
      text-align: center;
    }



/* --NOT SMART ENOUGH (MODIFY-felx-wrap:wrap properties)- */
.company-profile-content {
    display:flex;  
    justify-content:center;
    flex-wrap: wrap;
  }



  .services-content-group-item  {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    width:100%  
   
  }

  .core-values-content {
    display: flex;
    flex-wrap: wrap;
    
  }

    

}
















